body{
    background-color: white;
}

p{
    font-size: 1rem;
    color: black;
    padding: 1rem;
    font-weight: bold;
}

h1{
    font-size: 2rem;
    color: black;
    padding: 1rem;
    font-weight: bold;
}

.border-bordo{
    border-color: #880000 !important;
}

.text-bordo{
    color: #880000 !important;
}

.bordo-btn{
    background-color: #880000;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.25;
    border-radius: 5px;
    border: none;
    padding: .75rem;
    width: 7.5rem;
    height: 3rem;
}

.digital-replica-link{
    text-decoration: none !important;
    color: black !important;
    font-weight: lighter !important;
    font-size: .875rem;
}

.digital-replica-link:hover{
    text-decoration: underline !important;
    cursor: pointer;
}

.page-title{
    font-size: 3rem;
    font-weight: bold;
    color: black;
}

.navbar-btn:hover{
    text-decoration: underline !important;
}

.navbar-border{
    border-bottom: 1px solid black !important;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 1);

}

.bordo-btn:hover{
    background-color: #BB0000;
}

.recommended-number {
    width: 2.25rem;
    height: 2.25rem;
    font-size: 1.25rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 50%;
    background-color: var(--bs-bordo, #800000);
    color: white;
    font-weight: bold;
    margin-right: 0.5rem;
    margin-bottom: 1.5rem;
}

.recommended-link,
.recommended-link a{
    text-decoration: none !important;
    color: black !important;
    font-weight: bold !important;
}

.recommended-link:hover,
.recommended-link:hover a{
    color: #BB0000 !important;
}

.article-link{
    text-decoration: none !important;
    color: black !important;

}

.article-link:hover,
.article-link:hover h1{
    color: #880000 !important;
}

.secondary-article{
    border: none;
}

.news-section p{
    font-size: 1rem;
}

.photos-section-img{
    max-height: 75px;
}

.show-more-photos-btn{
    border: none !important;
    background-color: transparent !important;
    color:#880000 !important;
    font-weight: bold !important;
    font-size: 1.125rem;
}

.show-more-photos-btn:hover{
    color: #000 !important;
}

.show-more-photos-btn[aria-expanded="true"] {
    display: none;
}
    
.event-carousel .carousel-control-prev-icon,
.event-carousel .carousel-control-next-icon {
    filter: invert(1);
}

.event-carousel .carousel-control-next {
    right: -50px;
}

.event-carousel .carousel-control-prev {
    left: -50px;
}

.bg-grey-lorem{
    background-color: rgb(245, 245, 245);
}

.footer{
    border-top: 1px solid rgb(217, 217, 217);
    background-color: rgb(245, 245, 245);
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.footer-policy{
    border-top: 1px solid rgb(217, 217, 217);
}

.footer-policy li {
    white-space: nowrap;
}

.footer-policy li a{
    text-decoration: none !important;
    color: rgb(108, 108, 108) !important;
    font-weight: normal;
    font-size: .875rem;
}

.footer-policy li p{
    text-decoration: none !important;
    color: rgb(108, 108, 108) !important;
    font-weight: normal;
    font-size: .875rem;
    padding-left: 0;
    padding-right: 0;
}

.footer-col h5{
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.footer-col h5 a,
.footer-col li a,
.footer-col li{
    text-decoration: none !important;
    color: black;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: .4rem;
    margin-top: .4rem;
}

.footer-col h5 a{
    font-size: 1.125rem;
    font-weight: bold;
    text-transform: uppercase;
}

.footer-col button.d-none{
    margin-bottom: .4rem !important;
}

.footer-col h5 a:hover{
    text-decoration: underline !important;
}

.footer-col li a{
    font-size: 1rem;
    font-weight: normal;
}

.footer-btn{
    background-color: #880000;
    color: white;
    font-weight: bold;
    font-size: 1rem;
    border-radius: 0.25;
    border-radius: 5px;
    border: none;
    padding: .75rem;
    width: 100%;
}

.footer-dropdown-btn {
    background-color: transparent;
    border: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1.25rem;
    color: rgb(128, 128, 128);
    display: flex;
    align-items: center;
  }
  

.footer-btn:hover{
    background-color: #BB0000;
}

.arrow-icon {
    transition: transform 0.3s ease;
    display: inline-block;
}

button[aria-expanded="true"] .arrow-icon {
    transform: rotate(180deg);
}
  
.hr-with-diamond {
    position: relative;
}

.hr-with-diamond hr {
    border-top: 1px solid #757575;
    margin: 0;
}

.diamond-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-color: rgb(245, 245, 245);
    border: none;
    transform: translate(-50%, -50%) rotate(45deg);
    cursor: pointer;
    padding: 0;
    outline: none;
}

.diamond-button:hover {
    background-color: rgb(235, 235, 235);
}

.diamond-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondary-menu-link{
    text-decoration: none !important;
    color: black !important;
    font-weight: bold !important;
}

.secondary-menu-link:hover{
    color: #BB0000 !important;
    text-decoration: underline !important;
    cursor: pointer;
}

.event-card{
    height: 13rem;
    border-radius: 0%;
}

/*Dispositivi xsm e sm*/
@media (max-width: 767.98px) {
    p{
        font-size: 1rem;
    }

    h3{
        font-size: 1.75rem;
    }
    
    h1{
        font-size: 2rem;
    }

    .page-title{
        font-size: 2rem;
    }
}

/*Dispositivi md*/
@media (max-width: 1023.98px) {
    p{
        font-size: 1rem;
    }

    .secondary-article{
        border-bottom: black;
        border-width: 1px;
    }

    .secondary-article h3{
        font-size: 1rem;
    }
}

/* Dispositivi > lg*/
@media (min-width: 1024px) {
    p{
        font-size: 1.25rem;
    }
}

/* Small (≥576px) */
@media (min-width: 576px) {
    .border-sm-none {
        border: none !important;
    }
  }
  
  /* Medium (≥768px) */
  @media (min-width: 768px) {
    .border-md-none {
        border: none !important;
    }
  }
  
  /* Large (≥992px) */
  @media (min-width: 992px) {
    .border-lg-none {
        border: none !important;
    }
  }